body {
    font-family: 'Source Code Pro', 'Menlo', 'Courier', monospace;
}

.width-auto {
    width: auto;
}

#about-you {
    margin-bottom: 15px;
}

select {
    text-align-last: center;
}

h1 {
    font-weight: bold;
}